
.swiper {
    height: 600px;
  }
.swiper-pagination {
    position: absolute;
    bottom: 70px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #43454d;
    border-radius: 50%;
    margin: 0 5px; 
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background-color: #55e6a5; 
  }