.blob {
    width: 40rem;
    height: 40rem;

    @media (min-width: 1280px) {
        @media not all and (min-width: 1536px) {
          
            width: 30rem;
            height: 30rem;
          
        }
      }
    
}

.blob:nth-child(2){
    filter: blur(50px);
}

.circle{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1280px) {
        @media not all and (min-width: 1536px) {
          
            width: 400px;
            height: 400px;
          
        }
      }
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 35s linear infinite;
}
@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 2rem;
    transform-origin: 0 250px;

    @media (min-width: 1280px) {
        @media not all and (min-width: 1536px) {
          
            transform-origin: 0 200px;
          
        }
      }
}